{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}


<div class="example-wrapper">
  
<h1>UserDashboardController</h1>


   
</div>
{% endblock %}
